.dark-theme {
    background: linear-gradient(135deg, #2c3e50 0%, #34495e 100%);
    color: @light-color;
}

.header {
    background: rgba(44, 62, 80 , 0.95);
}

.pokemon-card {
    background: @dark-color;
}

